/* 
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Gayathri', sans-serif;  
*/
body{
    background-color: #E5ECF8;
}
section#global{
    font-family: 'Montserrat', sans-serif;
}
section#global > h1, div#buttonChoice, #replay{
    text-align: center;
}
button#buttonReplay{
    width: 120px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 2%;
    outline: none;
}
section#global > h1{
    font-size: 40px;
}
section#global > p#introTicTacToe{
    font-size: 20px;
    width: 500px;
    margin: 0 auto;
    text-align: justify;
    text-align: center;
}
div#buttonChoice > button{
    width: 120px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin: 2%; 
}
div#buttonChoice > button:focus{
    background-color: #1A8BF6;
    outline: none;
}
/* #choiceGameMode{
    width: 100px;
    z-index: 3;
}
/* div#choiceGameMode > button{
    width: 75px;
    height: 25px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin: 2%;

}
div#choiceGameMode > button{
    outline: none;
} */ 
div#morpion_area{
    width: 222px;
    height: 222px;
    margin: 0 auto;
    box-shadow: 3px 3px 50px #BDB9DF;
    background-color: #D3D0EC;

}
div#morpion_area > div{
    display: inline-flex;
    line-height: 70px;
    border: 2px #1E1E1E solid;
    width: 70px;
    height: 70px;
    font-size: 5em;
}

p#winnerArea{
    position: absolute;
    font-size: 70px;
    z-index: 100;
    margin-left: -14%;
    border: none;
    border-radius: 20px;
    background-color: #1E1E1E;
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
